1. Buatlah 3 variabel yang masing-masing berisi
    
    a. Nama depan (string)
    
    b. Umur (integer)
    
    c. kota tinggal (string)

In [ ]:
#kerjakan soal no 1 pada sel ini
nama_depan = "Bambang"
umur = 43
kota_tinggal = "Jakarta"

2. Tampilkan semua variabel pada soal no 1 menjadi sebuah kalimat dengan menggunakan metode print()

In [ ]:
#kerjakan soal no 2 pada bagian sel ini
#contoh keluaran yang diharapkan : "Nama saya adalah Thio, berusia 28 tahun dan tinggal di Bandung."
print("Nama saya adalah {0}, berusia {1} dan tinggal di {2}".format(nama_depan, umur, kota_tinggal))

Nama saya adalah Bambang, berusia 43 dan tinggal di Jakarta

3. Dengan menggunakan salah satu string method, ubah kata mangga pada variabel kalimat menjadi apel dan masukkan pada variabel kalimat_2 lalu print variabel kalimat_2

In [ ]:
#kerjakan soal no 3 pada bagian sel ini
kalimat = 'Budi menyukai buah mangga'
kalimat_2 = kalimat.replace("mangga", "apel")
print(kalimat_2)

Budi menyukai buah apel